.container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 100%;
}

#map {
    height: calc(100vh - 9em);
    width: 100%;
}

@media (min-width: 760px) {
    .container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 65% 1fr;
    }
}


@media (max-width: 450px) {
    .btn-container {
        display: flex;
        justify-content: center;
    }

    .btn {
        margin-inline: auto;
        font-size: 0.8em;
    }
}

.btn:hover {
    background-color: RoyalBlue;
}
